<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">

    {{formGroup system.schema.fields.cost value=source.system.cost localize=true}}
    {{formGroup system.schema.fields.requirement.fields.text value=source.system.requirement.text}}
    {{!-- {{formGroup system.schema.fields.requirement.fields.script value=source.system.requirement.script}} --}}

    {{> itemTest fields=fields.test.fields value=source.system.test hideOpposed=true}}
</section>