<div class="dice-fields">
    <div class="dice-modifiers">
        <div data-tooltip="{{tooltips.penalty}}" data-tooltip-direction="UP">
            {{localize "TOW.Dialog.Penalty"}}
            <div class="field-control">
                <a data-action="dec" data-target="penalty"><i class="fa-solid fa-minus"></i></a>
                <input type="number" name="penalty" value="{{fields.penalty}}" readonly>
                <a data-action="inc" data-target="penalty"><i class="fa-solid fa-plus"></i></a>
            </div>
        </div>
        <div data-tooltip="{{tooltips.bonus}}" data-tooltip-direction="UP">
            {{localize "TOW.Dialog.Bonus"}}
            <div class="field-control">
                <a data-action="dec" data-target="bonus"><i class="fa-solid fa-minus"></i></a>
                <input type="number" name="bonus" value="{{fields.bonus}}" readonly>
                <a data-action="inc" data-target="bonus"><i class="fa-solid fa-plus"></i></a>
            </div>
        </div>
    </div>
    <div class="dice">
        {{#each dice}}
            <div class="die {{this.type}}">
                <i class="fa-solid fa-dice-d10"></i>
            </div>
        {{/each}}
    </div>
    <div class="vs">
        VS.
    </div>
    <div class="target field-control">
        <a data-action="dec" data-target="target"><i class="fa-solid fa-minus"></i></a>
        <div>{{fields.target}}</div>
        <a data-action="inc" data-target="target"><i class="fa-solid fa-plus"></i></a>
    </div>

    <div class="state-field">
        <div data-tooltip="{{tooltips.grim}}" data-tooltip-direction="UP">
            <label>{{localize "TOW.Dialog.Grim"}}</label>
            <input type="radio" id="grim" name="state" {{checked (eq fields.state "grim")}}>
        </div>
        <div>
            <label>{{localize "TOW.Dialog.Normal"}}</label>
            <input type="radio" id="normal" name="state" {{checked (eq fields.state "normal")}}>
        </div>
        <div data-tooltip="{{tooltips.glorious}}" data-tooltip-direction="UP">
            <label>{{localize "TOW.Dialog.Glorious"}}</label>
            <input type="radio" id="glorious" name="state" {{checked (eq fields.state "glorious")}}>
        </div>
    </div>

</div>