<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
    <div class="sheet-list">
        <div class="list-header row-content">
            <div class="list-name">{{localize "TOW.Sheet.Weapons"}}</div>
            <div class="list-controls">
                <a class="list-control" data-action="createItem" data-type="weapon">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="list-content">
            {{#each items.weapon}}
                <div class="list-row" data-uuid="{{this.uuid}}">
                    <div class="row-content">
                        <div class="list-name">
                            <img src="{{this.img}}">
                            <a class="label" data-action="toggleSummary">{{this.name}}</a>
                        </div>

                        <div class="list-controls">
                            <a class="list-control context-menu"><i class="fa-regular fa-ellipsis-vertical"></i></a>
                        </div>
                    </div>
                    {{> sheetButtons document=this}}
                    <div class="dropdown-content collapsed">

                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="sheet-list">
        <div class="list-header row-content">
            <div class="list-name">{{localize "TOW.Sheet.Armour"}}</div>
            <div class="list-controls">
                <a class="list-control" data-action="createItem" data-type="armour">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="list-content">
            {{#each items.armour}}
                <div class="list-row" data-uuid="{{this.uuid}}">
                    <div class="row-content">
                        <div class="list-name">
                            <img src="{{this.img}}">
                            <a class="label" data-action="toggleSummary">{{this.name}}</a>
                        </div>

                        <div class="list-controls">
                            <a class="list-control context-menu"><i class="fa-regular fa-ellipsis-vertical"></i></a>
                        </div>
                    </div>
                    {{> sheetButtons document=this}}
                    <div class="dropdown-content collapsed">

                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="sheet-list">
        <div class="list-header row-content">
            <div class="list-name">{{localize "TOW.Sheet.ToolsKits"}}</div>
            <div class="list-controls">
                <a class="list-control" data-action="createItem" data-type="toolKit">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="list-content">
            {{#each items.toolKit}}
                <div class="list-row" data-uuid="{{this.uuid}}">
                    <div class="row-content">
                        <div class="list-name rollable">
                            <img src="{{this.img}}" data-action="useItem">
                            <a class="label" data-action="toggleSummary">{{this.name}}</a>
                        </div>
                        <div class="list-controls">
                            <a class="list-control context-menu"><i class="fa-regular fa-ellipsis-vertical"></i></a>
                        </div>
                    </div>
                    {{> sheetButtons document=this}}
                    <div class="dropdown-content collapsed">

                    </div>
                </div>
            {{/each}}
        </div>
    </div>
        <div class="sheet-list">
        <div class="list-header row-content">
            <div class="list-name">{{localize "TOW.Sheet.Trappings"}}</div>
            <div class="list-controls">
                <a class="list-control" data-action="createItem" data-type="trapping">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="list-content">
            {{#each items.trapping}}
                <div class="list-row" data-uuid="{{this.uuid}}">
                    <div class="row-content">
                        <div class="list-name rollable">
                            <img src="{{this.img}}" data-action="useItem">
                            <a class="label" data-action="toggleSummary">{{this.name}}</a>
                        </div>
                        <div class="list-controls">
                            <a class="list-control context-menu"><i class="fa-regular fa-ellipsis-vertical"></i></a>
                        </div>
                    </div>
                    {{> sheetButtons document=this}}
                    <div class="dropdown-content collapsed">

                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="sheet-list">
        <div class="list-header row-content">
            <div class="list-name">{{localize "TOW.Sheet.Assets"}}</div>
            <div class="list-controls">
                <a class="list-control" data-action="createItem" data-type="asset">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="list-content">
            {{#each items.asset}}
                <div class="list-row" data-uuid="{{this.uuid}}">
                    <div class="row-content">
                        <div class="list-name rollable">
                            <img src="{{this.img}}" data-action="useItem">
                            <a class="label" data-action="toggleSummary">{{this.name}}</a>
                        </div>
                        <div class="list-controls">
                            <a class="list-control context-menu"><i class="fa-regular fa-ellipsis-vertical"></i></a>
                        </div>
                    </div>
                    {{> sheetButtons document=this}}
                    <div class="dropdown-content collapsed">

                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>