<div class="defending-against">
    <img src="{{tokenImg test.actor}}">
    <div class="attack-details">
        <label>{{localize "TOW.Sheet.DefendingAgainst"}}</label>
        <div><span>{{tokenName test.actor}}</span><span>{{test.item.name}}</span><span>{{localize "TOW.Chat.Successes" successes=test.result.successes}}</span></div>
    </div>
    <a class="remove-opposed" data-action="removeOpposed"><i class="fa-solid fa-xmark"></i></a>
</div>