<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">

    <div class="miscast-container">

        <div class="miscast-pool">
            <label>{{localize "TOW.Sheet.MiscastPool"}}</label>

            <div class="dice">
                {{#each miscasts}}
                    <div {{#if (isGM)}}data-action="togglePip" {{/if}} data-index="{{@key}}" data-path="system.magic.miscasts" class="die {{#if active}}active{{#if exceeds}} exceeds {{/if}} {{else}}inactive{{/if}}">
                        <img src="systems/whtow/assets/dice/d10.svg">
                    </div>
                {{/each}}
            </div>
        </div>
        {{#if (isGM)}}
        <div class="miscast-steps">
            <button type="button" data-action="stepProperty" data-path="system.magic.miscasts"><i class="fas fa-plus"></i></button>
            <button type="button" data-action="stepProperty" data-path="system.magic.miscasts" data-reversed="true"><i class="fas fa-minus"></i></button>
        </div>
        {{/if}}
        <div class="miscast-controls">
            <button type="button" data-action="disposeMiscast" {{#unless actor.system.magic.miscasts}}disabled{{/unless}}>{{localize "TOW.Sheet.Dispose"}}</button>
            <button type="button" data-action="rollMiscast" {{#unless actor.system.magic.miscasts}}disabled{{/unless}}>{{localize "TOW.Sheet.Miscast"}}</button>
        </div>
    </div>

    {{#each document.system.magic.lores}}
    {{#if this.spells.length}}
        <div class="sheet-list">
            <div class="list-header row-content lore">

                {{#if (eq @key "none")}}
                <div class="list-name">{{this.label}} </div>
                {{else}}
                <a class="list-name"  data-action="rollTest" data-type="cast" data-lore="{{@key}}">{{this.label}} <i class="fa-solid fa-dice-d10"></i></a>
                {{/if}}
                {{#if this.progress}}
                    <div class="flex progress">Accumulated Power: <a data-action="stepProperty" data-path="system.magic.casting.progress">{{this.progress}}</a> <a data-action="clearLore"><i class="fa-regular fa-xmark"></i></a></div>
                {{/if}}
            </div>
            <div class="list-header row-content">
                <div class="list-name">{{localize "TOW.Sheet.Spells"}}</div>
                <div class="small">{{localize "TOW.Sheet.CV"}}</div>
                <div>{{localize "TOW.Sheet.Target"}}</div>
                <div>{{localize "TOW.Sheet.Range"}}</div>
                <div>{{localize "TOW.Sheet.Duration"}}</div>
                <div class="list-controls">
                    <a class="list-control" data-action="createItem" data-type="spell"><i class="fa-regular fa-plus"></i></a>
                </div>
            </div>
            <div class="list-content">

                {{#each this.spells}}
                    <div class="list-row combat" data-uuid="{{this.uuid}}">
                        <div class="row-content">
                            <div class="list-name rollable">
                                <img src="{{this.img}}" data-action="rollTest" data-type="cast">
                                
                                <a class="label {{#if (lt ../progress this.system.cv)}} inactive {{/if}}" data-action="toggleSummary">{{this.name}}</a>
                                
                            </div>
                            <div class="small">{{this.system.cv}}</div>
                            <div>{{#if this.system.target.custom}}{{this.system.target.custom}}{{/if}} {{#if this.system.target.value}} {{configLookup "target" this.system.target.value}} {{/if}}</div>
                            <div>{{#if this.system.range.custom}}{{this.system.range.custom}}{{/if}} {{#if this.system.range.value}} {{configLookup "range" this.system.range.value}} {{/if}}</div>
                            <div>{{#if this.system.duration.custom}}{{this.system.duration.custom}}{{/if}} {{#if this.system.duration.value}} {{configLookup "duration" this.system.duration.value}} {{/if}}</div>
                            <div class="list-controls">
                                <a class="list-control context-menu"><i class="fa-regular fa-ellipsis-vertical"></i></a>
                            </div>
                        </div>
                        {{#if this.system.progress}}
                            <div class="progress-bar">
                                <div class="fill {{this.system.lore}}" style="width:{{pct this.system.progress this.system.cv}}%">
                                </div>
                            </div>
                        {{/if}}
                        {{> sheetButtons document=this}}
                        <div class="dropdown-content collapsed">

                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}
    {{/each}}
</section>