<div class="sheet-header">
    <img data-action="editImage" data-edit="img" src="{{actor.img}}" height="100" width="100">
    <div class="header-details">
        <input type="text" name="name" value="{{actor.name}}" placeholder="{{localize " Name"}}">
        <div class="header-row">
            <div class="origin">

                <div class="label">
                    {{localize "TOW.Sheet.Origin"}}
                </div>
                {{#if actor.system.origin.document}}
                    <div class="like-input" data-uuid="{{system.origin.document.uuid}}">
                        <span class="control"></span>
                        <a type="text" data-action="editEmbedded" name="actor.system.origin.name">{{system.origin.name}}</a>
                        <a class="control" data-action="deleteEmbedded"><i class="fas fa-xmark"></i></a>
                    </div>
                {{else}}
                    <input type="text" name="system.origin.name" value="{{system.origin.name}}">
                {{/if}}
            </div>

            <div class="career">
                <div class="label">
                    {{localize "TOW.Sheet.Career"}}
                </div>
                {{#if actor.system.career.document}}
                    <div class="like-input" data-uuid="{{actor.system.career.document.uuid}}">
                        <span class="control"></span>
                        <a type="text" data-action="editEmbedded" name="actor.system.career.name">{{actor.system.career.name}}</a>
                        <a class="control" data-action="deleteEmbedded"><i class="fas fa-xmark"></i></a>
                    </div>
                {{else}}
                    <input type="text" name="system.career.name" value="{{system.career.name}}">
                {{/if}}
            </div>
            <div class="status">
                <div class="label">
                    {{localize "TOW.Sheet.Status"}}
                </div>
                <input type="text" disabled value="{{configLookup " status" system.career.document.system.status}}">
            </div>
        </div>
    </div>
</div>