<div>
    <section class="tab {{tabs.characteristics.cssClass}}" data-group="sheet" data-tab="characteristics">
        <div class="sheet-list">
            <div class="list-header row-content">
                <div class="list-name">{{localize "TOW.Sheet.Characteristic"}}</div>
                <div class="small">{{localize "TOW.Sheet.Base"}}</div>
                <div>{{localize "TOW.Sheet.Advances"}}</div>
                <div class="small">{{localize "TOW.Sheet.Total"}}</div>
            </div>
            {{#each actor.system.characteristics}}
                <div class="list-row" data-key="{{@key}}">
                    <div class="row-content">
                        <div class="list-name">
                            <div class="label">
                                {{configLookup "characteristics" @key}}
                                {{#if this.favoured}}
                                *
                                {{/if}}
                            </div>
                        </div>
                        <div class="small">
                            <input type="number" data-characteristic="{{@key}}" data-action="editProperty" data-property="base" value="{{this.base}}">
                        </div>
                        <div class="flexrow">
                            <a data-action="stepValue" data-characteristic="{{@key}}" data-type="decrease"><i class="fa-regular fa-square-minus"></i></a>
                            <span class="value">{{this.advances}}</span>
                            <a data-action="stepValue" data-characteristic="{{@key}}" data-type="increase"><i class="fa-regular fa-square-plus"></i></a>
                        </div>
                        <div class="small">
                            {{this.value}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="advancement-info">
            <div class="value {{#if (gt 0 actor.system.xp.available)}}overspent{{/if}}">
                {{actor.system.xp.spent}}
            </div>
            /
            <div class="value">
                {{actor.system.xp.total}}
            </div>
            XP
        </div>
    </section>
    <section class="tab {{tabs.skills.cssClass}}" data-group="sheet" data-tab="skills">
        <div class="sheet-list">
            <div class="list-header row-content">
                <div class="skill-name">{{localize "TOW.Sheet.Skill"}}</div>
                <div class="small">{{localize "TOW.Sheet.Base"}}</div>
                <div class="small">{{localize "TOW.Sheet.Adv."}}</div>
                <div class="flex">{{localize "TOW.Sheet.Improvement"}}</div>
            </div>
            {{#each skills}}
                <div class="list-row" data-skill="{{@key}}">
                    <div class="row-content">
                        <div class="skill-name">
                            <a data-action="rollTest">{{configLookup "skills" @key}}</a>
                        </div>

                        <div class="small">
                            {{#if (isGM)}}
                                <input type="number" value="{{this.base}}" data-action="editProperty" data-property="base"  data-type="skill" data-skill="{{@key}}">
                            {{else}}
                                {{this.base}}
                            {{/if}}
                        </div>
                        <div class="small">
                            {{#if (isGM)}}
                                <input type="number" value="{{this.advances}}" data-action="editProperty" data-property="advances" data-type="skill" data-skill="{{@key}}">
                            {{else}}
                                {{this.advances}}
                            {{/if}}
                        </div>

                        <div class="flex improvement">
                            <div class="pips">
                                {{#each this.pips}}
                                    <a data-action="togglePip" data-index="{{@key}}" class="pip {{#if this.active}}active{{/if}} {{#if this.unavailable}}unavailable{{/if}}"></a>
                                {{/each}}
                            </div>
                            <button type="button" data-action="advanceSkill" {{#if (lte this.improvement this.value)}}disabled data-tooltip="Not enough failures to advance!" data-tooltip-direction="RIGHT" {{/if}}>
                                Advance
                            </button>
                        </div>


                    </div>
                </div>
            {{/each}}
        </div>
    </section>
    <section class="tab {{tabs.items.cssClass}}" data-group="sheet" data-tab="items">
        <div class="advancement-list">
            <p>All Owned Items that have an associated XP Cost</p>
            <div class="sheet-list">
                <div class="list-header row-content">
                    <div class="list-name">{{localize "TOW.Sheet.Item"}}</div>
                    <div>{{localize "TOW.Sheet.Cost"}}</div>
                </div>
                {{#each talents}}
                    <div class="list-row">
                        <div class="row-content">
                            <div class="list-name">
                                <img src="{{this.img}}">
                                <a class="label">{{this.name}}</a>
                            </div>
                            <div>
                                <input type="number" disabled value="{{this.system.cost}}">
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>
    <section class="tab {{tabs.log.cssClass}}" data-group="sheet" data-tab="log">
        <div class="advancement-list">
            <p>Record of all the changes in XP Total and the associated reason.</p>
            <div class="sheet-list">
                <div class="list-header row-content">
                    <div class="list-name">{{localize "TOW.Sheet.Reason"}}</div>
                    <div>{{localize "TOW.Sheet.XP"}}</div>
                    <div>{{localize "TOW.Sheet.Total"}}</div>
                    <div class="list-controls"></div>
                </div>
                <div class="list-content">
                    {{#each actor.system.xp.log.list}}
                        <div class="list-row" data-index="{{@key}}">
                            <div class="row-content">
                                <div class="list-name">
                                    <input class="label" type="text" data-action="updateLog" value="{{this.reason}}">
                                </div>
                                <input type="number" value="{{this.amount}}" disabled>
                                <input type="number" value="{{this.total}}" disabled>
                                <div class="list-controls">
                                    {{#if (isGM)}} <a data-action="deleteLog" class="list-control"><i class="fa-solid fa-xmark"></i></a>{{/if}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
    <section class="tab {{tabs.other.cssClass}}" data-group="sheet" data-tab="other">

        <div class="advancement-list">
            <p>Miscellaneous modifications to total spent XP</p>
            <div class="sheet-list">
                <div class="list-header row-content">
                    <div class="list-name">{{localize "TOW.Sheet.Description"}}</div>
                    <div>{{localize "TOW.Sheet.XP"}}</div>
                    <div class="list-controls"></div>
                </div>
                <div class="list-content">
                    {{#each actor.system.xp.offsets.list}}
                        <div class="list-row" data-index="{{@key}}">
                            <div class="row-content">
                                <div class="list-name">
                                    <input type="text" class="label" data-action="updateOffset" data-path="description" placeholder="Description" value="{{this.description}}">
                                </div>
                                <input type="number" data-action="updateOffset" data-path="amount" placeholder="Amount" value="{{this.amount}}">
                                <div class="list-controls">
                                    <a data-action="deleteOffset" class="list-control"><i class="fa-solid fa-xmark"></i></a>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                        <div class="list-row">
                            <div class="row-content">
                                <div class="list-name">
                                    <input type="text" class="label" data-action="updateOffset" data-path="description" placeholder="Description" value="{{this.description}}">
                                </div>
                                <input type="number" data-action="updateOffset" data-path="amount" placeholder="Amount" value="{{this.amount}}">
                                <div class="list-controls">
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
</div>