<select name="{{name}}">
    {{#select value}}
    <optgroup label="{{localize 'Characteristics'}}">
        <option value="system.characteristics.ws.value">{{localize "TOW.CharName.WeaponSkill"}} ({{localize "TOW.Modifier"}})</option>
        <option value="system.characteristics.bs.value">{{localize "TOW.CharName.BallisticSkill"}} ({{localize "TOW.Modifier"}})</option>
        <option value="system.characteristics.s.value">{{localize "TOW.CharName.Strength"}} ({{localize "TOW.Modifier"}})</option>
        <option value="system.characteristics.t.value">{{localize "TOW.CharName.Toughness"}} ({{localize "TOW.Modifier"}})</option>
        <option value="system.characteristics.i.value">{{localize "TOW.CharName.Initiative"}} ({{localize "TOW.Modifier"}})</option>
        <option value="system.characteristics.ag.value">{{localize "TOW.CharName.Agility"}} ({{localize "TOW.Modifier"}})</option>
        <option value="system.characteristics.re.value">{{localize "TOW.CharName.Reason"}} ({{localize "TOW.Modifier"}})</option>
        <option value="system.characteristics.fel.value">{{localize "TOW.CharName.Fellowship"}} ({{localize "TOW.Modifier"}})</option>
    </optgroup>
    <optgroup label="{{localize 'Skills'}}">
        <option value="system.skills.melee.value">{{localize "TOW.SkillName.Melee"}} ({{localize "TOW.Modifier"}})</option>
        <option value="system.skills.defence.value">{{localize "TOW.SkillName.Defence"}} ({{localize "TOW.Modifier"}})</option>
        <option value="system.skills.shooting.value">{{localize "TOW.SkillName.Shooting"}} ({{localize "TOW.Modifier"}})</option>
        <option value="system.skills.throwing.value">{{localize "TOW.SkillName.Throwing"}} ({{localize "TOW.Modifier"}})</option>
        <option value="system.skills.brawn.value">{{localize "TOW.SkillName.Brawn"}} ({{localize "TOW.Modifier"}})</option>
        <option value="system.skills.toil.value">{{localize "TOW.SkillName.Toil"}} ({{localize "TOW.Modifier"}})</option>
        <option value="system.skills.survival.value">{{localize "TOW.SkillName.Survival"}} ({{localize "TOW.Modifier"}})</option>
        <option value="system.skills.endurance.value">{{localize "TOW.SkillName.Endurance"}} ({{localize "TOW.Modifier"}})</option>
        <option value="system.skills.awareness.value">{{localize "TOW.SkillName.Awareness"}} ({{localize "TOW.Modifier"}})</option>
        <option value="system.skills.dexterity.value">{{localize "TOW.SkillName.Dexterity"}} ({{localize "TOW.Modifier"}})</option>
        <option value="system.skills.athletics.value">{{localize "TOW.SkillName.Athletics"}} ({{localize "TOW.Modifier"}})</option>
        <option value="system.skills.stealth.value">{{localize "TOW.SkillName.Stealth"}} ({{localize "TOW.Modifier"}})</option>
        <option value="system.skills.willpower.value">{{localize "TOW.SkillName.Willpower"}} ({{localize "TOW.Modifier"}})</option>
        <option value="system.skills.recall.value">{{localize "TOW.SkillName.Recall"}} ({{localize "TOW.Modifier"}})</option>
        <option value="system.skills.leadership.value">{{localize "TOW.SkillName.Leadership"}} ({{localize "TOW.Modifier"}})</option>
        <option value="system.skills.charm.value">{{localize "TOW.SkillName.Charm"}} ({{localize "TOW.Modifier"}})</option>
    </optgroup>
   
    <optgroup label="Other">
        <option value="system.resilience.value">{{localize "TOW.Sheet.Resilience"}}</option>    
        <option value="system.magic.level">{{localize "TOW.MagicLevel"}}</option>    
        <option value="system.speed.value">{{localize "TOW.Sheet.Speed"}}</option>    
        <option value="system.speed.modifier">{{localize "TOW.Sheet.SpeedModifier"}}</option>    
        <option value="system.excludeStaggeredOptions">{{localize "TOW.Sheet.PreventStaggeredOption"}}</option>    
    </optgroup>
    {{/select}}
</select>