<div>
    <h3 class="centered">Attacking</h3>
    <div class="modifier-section">
        <div class="value">
            <input type="number" name="{{path}}.attacking.value" value="{{modifiers.attacking.value}}">
            Dice
        </div>
        <div class="subject">
            <select name="{{path}}.attacking.subject">
                {{selectOptions subjects selected=modifiers.attacking.subject blank=""}}
            </select>
        </div>
        <div class="not">
            <input type="checkbox" name="{{path}}.attacking.not" {{checked modifiers.attacking.not}}>
            Not
        </div>
        <div class="condition">
            <select name="{{path}}.attacking.condition">
                {{selectOptions conditions selected=modifiers.attacking.condition blank=""}}
            </select>
        </div>
        <div class="label">
            <input type="text" name="{{path}}.attacking.label" value="{{modifiers.attacking.label}}" placeholder="Label">
        </div>
    </div>
    <h3 class="centered">Defending</h3>
    <div class="modifier-section">
        <div class="value">
            <input type="number" name="{{path}}.defending.value" value="{{modifiers.defending.value}}">
            Dice
        </div>
        <div class="subject">
            <select name="{{path}}.defending.subject">
                {{selectOptions subjects selected=modifiers.defending.subject blank=""}}
            </select>
        </div>
        <div class="not">
            <input type="checkbox" name="{{path}}.defending.not" {{checked modifiers.defending.not}}>
            Not
        </div>
        <div class="condition">
            <select name="{{path}}.defending.condition">
                {{selectOptions conditions selected=modifiers.defending.condition blank=""}}
            </select>
        </div>
        <div class="label">
            <input type="text" name="{{path}}.defending.label" value="{{modifiers.defending.label}}" placeholder="Label">
        </div>
    </div>
    <h3 class="centered">Damage</h3>
    <div class="modifier-section">
        <div class="value">
            <input type="number" name="{{path}}.damage.value" value="{{modifiers.damage.value}}">
            Damage
        </div>
        <div class="subject">
            <select name="{{path}}.damage.subject">
                {{selectOptions subjects selected=modifiers.damage.subject blank=""}}
            </select>
        </div>
        <div class="not">
            <input type="checkbox" name="{{path}}.damage.not" {{checked modifiers.damage.not}}>
            Not
        </div>
        <div class="condition">
            <select name="{{path}}.damage.condition">
                {{selectOptions conditions selected=modifiers.damage.condition blank=""}}
            </select>
        </div>
        <div class="label">
            <input type="text" name="{{path}}.damage.label" value="{{modifiers.damage.label}}" placeholder="Label">
        </div>
    </div>
</div>